:root {
  --surface-primary: #131316;
  --surface-secondary: #18181b;
  --surface-tertiary: #27272a;

  --brand: #6366f1;

  --details: #3f3f46;

  --text-primary: #fafafa;
  --text-secondary: #d4d4d8;
  --text-tertiary: #71717a;
  --text-on-brand: #6366f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;

  background-color: var(--surface-secondary);
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 36rem;
  padding: 1.5rem;
  margin: 0 auto;

  background-color: var(--surface-primary);
}

.header__title {
  color: var(--text-primary);
  font-family: "Exo 2";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin: 1rem;
  text-align: center;
}

.header__paragraph {
  color: var(--text-secondary);
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 4rem 2rem;
  text-align: center;
}

.label__ask {
  color: var(--text-primary);
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.flex__input {
  align-items: center;
  background-color: var(--details);
  border-radius: 0.5rem;
  border: 1px solid var(--surface-tertiary);
  color: var(--text-tertiary);
  color: var(--text-tertiary);
  display: flex;
  flex-direction: row;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 300;
  gap: 1rem;
  line-height: 1.5rem;
  min-width: 100%;
  padding: 0.5rem 1rem;
}

.flex__input[type="message"] {
  height: 7rem;
}

.button__submit {
  background-color: var(--brand);
  border-radius: 5px;
  border: 1px;
  color: var(--text-primary);
  font-family: "Exo 2";
  line-height: 1.5rem;
  margin: 2rem 0;
  padding: 0.3rem 1rem;
}

.footer__authors {
  color: var(--text-tertiary);
  font-family: "Exo 2";
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}

.footer__authors--highlight {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .content {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 4rem;
  }
}
