:root {
  --surface-primary: #131316;
  --surface-secondary: #18181b;
  --surface-tertiary: #27272a;

  --brand: #6366f1;

  --details: #3f3f46;

  --text-primary: #fafafa;
  --text-secondary: #d4d4d8;
  --text-tertiary: #71717a;
  --text-on-brand: #6366f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;

  background-color: var(--surface-secondary);
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 36rem;
  padding: 1.5rem;
  margin: 0 auto;

  background-color: var(--surface-primary);
}

.header {
  font-family: "Exo 2";
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
}

.header__title {
  color: var(--text-primary);
  font-family: "Exo 2";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header__paragraph {
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;

  margin: 0 auto 2rem;
}

.form__label {
  margin-bottom: 0.25rem;

  color: var(--text-primary);
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.form__input {
  outline: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  background-color: var(--surface-tertiary);
  border: 1px solid var(--details);
  border-radius: 0.5rem;

  color: var(--text-secondary);
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.form__input:focus {
  border-color: var(--brand);
}

.form__input--multiline {
  height: 9rem;
  resize: none;
}

.form__submit {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 1rem 0 0 auto;
  padding: 0.5rem 1rem;

  background-color: var(--brand);
  border-radius: 0.5rem;
  border: none;

  color: var(--text-primary);
  font-size: 1rem;
  font-family: "Exo 2";

  cursor: pointer;
}

.form__submit:disabled {
  opacity: 0.75;
}

.form__submit--send-icon {
  width: 1.375rem;
  height: 1.375rem;
}

.footer__authors {
  color: var(--text-tertiary);
  font-family: "Exo 2";
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}

.footer__authors--highlight {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .content {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 4rem;
  }
}

.toast-sucess {
  background-color: #4d4fef;
  font-family: 'Exo 2';
  animation-duration: 1000;
}

.toast-failure {
  background-color: red;
  font-family: 'Exo 2';
  animation-duration: 1000;
}
